---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import Github from "../components/Icons/Github.astro";
import Facebook from "../components/Icons/Facebook.astro";
import Instagram from "../components/Icons/Instagram.astro";
import Experience from "../components/Experience.astro";
import Maleta from "../components/Icons/Maleta.astro";
import Skill from "../components/Icons/Skill.astro";
import Code from "../components/Icons/Code.astro";
import Projects from "../components/Projects.astro";
import Net from "../components/Icons/Net.astro";
import PowerBi from "../components/Icons/Power_Bi.astro";
import Mysql from "../components/Icons/Mysql.astro";
import Python from "../components/Icons/py.astro";
import Tailwind from "../components/Icons/Tailwind.astro";
import Oracle from "../components/Icons/Oracle.astro";
import Postgres from "../components/Icons/Postgres.astro";
import Js from "../components/Icons/Js.astro";
import Html from "../components/Icons/Html.astro";
import Css from "../components/Icons/Css.astro";
import astr from "../components/Icons/astr.astro";
import Angular from "../components/Icons/Angular.astro";
import Csharp from "../components/Icons/Csharp.astro";

const habilidades = [
  {
    name: ".Net",
    class:
      "bg-[#fffff] text-black dark:text-purple-400 border border-purple-400",
    icon: Net,
  },
  {
    name: "Power Bi",
    class: "",
    icon: PowerBi,
  },
  {
    name: "Mysql",
    class: "bg-[#fffff] text-black dark:text-blue-400 border border-blue-400",
    icon: Mysql,
  },

  {
    name: "Python",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Python,
  },

  {
    name: "Tailwind",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Tailwind,
  },
  {
    name: "Oracle",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Oracle,
  },
  {
    name: "Postgres",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Postgres,
  },
  {
    name: "JavaScript",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Js,
  },
  {
    name: "HTML",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Html,
  },
  {
    name: "CSS",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Css,
  },
  {
    name: "Astro",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: astr,
  },
  {
    name: "Angular",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Angular,
  },
  {
    name: "C#",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Csharp,
  },
];
---

<Layout title="Porfolio Keiny - Desarrollador web" description="Keiny">
  <main class="">
    <SectionContainer class="py-24 md:py-36 pb-16 md:pb-24">
      <img
        src="/photo.jpeg"
        alt="Tom-photo"
        class="rounded-full w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 mb-4"
      />

      <h1
        class="dark:text-white text-black text-3xl text-pretty md:text-4xl lg:text-5xl font-medium flex flex-row gap-x-4 pb-4 md:pb-6 lg:pb-10"
      >
        Hola, Soy Keiny
        <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/keiny-fernanda-trujillo-quiroz-514508271/"
          target="a_blank"
          rel="noopener"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-lg md:text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-purple-800">Ingeniera de Sistemas</span>
        <span class="opacity-80 dark:text-white text-black" >
           con una sólida formación en
          diversos campos relacionado con TI, apasionada del diseño
        </span>
        <span class="opacity-80 dark:text-white text-black">. Tengo experiencia en el </span>
        <span class="text-purple-800"
          >desarrollo web, bases de datos Sql y NoSql, Inteligencia de Negocio, SIG, Modelado 3D, comunicación con el cliente</span
        >
        <span class="opacity-80 dark:text-white text-black">
          . Siempre estoy en la búsqueda de nuevas retos para aprender y
          desafiar mi creatividad.
        </span>
      </h2>
      <nav class="flex gap-2 md:gap-4 mt-4 md:mt-8 flex-wrap dark:text-white text-black">
        <SocialPill
          href="https://www.linkedin.com/in/keiny-fernanda-trujillo-quiroz-514508271/">
          <LinkedIn class="w-4 h-4 md:w-6 md:h-6 dark:text-white text-black"/>
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/kefertruqui">
          <Github class="w-4 h-4 md:w-6 md:h-6 dark:text-white text-black" />
          Github
        </SocialPill>
        <SocialPill href="https://web.facebook.com/keiny.trujillo">
          <Facebook class="w-4 h-4 md:w-6 md:h-6 dark:text-white text-black" />
          Facebook
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="Habilidades" , class="flex-wrap">
      <h2
        class="text-xl md:text-2xl font-semibold mb-10 md:mb-6 flex gap-x-2 md:gap-x-3 items-center text-black dark:text-white"
      >
        <Skill class="w-6 h-6 md:w-7 md:h-7" />
        Habilidades
      </h2>

      <div class="flex flex-wrap items-center justify-center">
        {
          habilidades.map((hab) => (
            <div class="skill ">
              <hab.icon class="size-20 skill-icon" />
              <span class="tooltip">{hab.name}</span>
            </div>
          ))
        }
      </div>
      <style>
        .skill {
          position: relative;
          display: inline-block;
          margin: 20px;
          transition: transform 0.3s ease-in-out;
        }

        .skill-icon {
          width: 60px;
          height: 60px;
          transition: transform 0.3s ease-in-out;
        }

        .tooltip {
          visibility: hidden;
          width: 80px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: -70%;
          left: 50%;
          margin-left: -40px;
          opacity: 0;
          transition: opacity 0.3s;
        }

        .skill:hover .skill-icon {
          transform: scale(1.1);
        }

        .skill:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }
      </style>
    </SectionContainer>
    <SectionContainer id="Experiencia">
      <h2
        class="text-xl md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center dark:text-white text-black"
      >
        <Maleta class="w-6 h-6 md:w-7 md:h-7 dark:text-white text-black" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="Proyectos">
      <h2
        class="text-xl md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center dark:text-white text-black"
      >
        <Code class="w-6 h-6 md:w-7 md:h-7 dark:text-white text-black"/>
        Proyectos
      </h2>

      <Projects />
    </SectionContainer>
  </main>
</Layout>

<style>
  img{
    object-fit: contain;
  }
</style>

